<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
	cacheResultFile="var/cache/phpunit.result.cache"
	colors="true"
	executionOrder="random"
	bootstrap="vendor/autoload.php">
  <coverage cacheDirectory="var/cache/phpunit.coverage.cache">
    <report>
	    <html outputDirectory="var/log/clover"/>
	    <clover outputFile="var/log/clover/clover.xml"/>
    </report>
  </coverage>
  <testsuite name="test">
    <directory>tests</directory>
  </testsuite>
  <logging>
    <junit outputFile="var/log/junit.xml"/>
  </logging>
  <php>
    <server name="APP_ENV" value="test"/>
  </php>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
